
#startGame,
#submit-game {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:url(../images/MarvelStudios.jpg);
    background-size: 100%;
    width: auto;
    height: auto;
    align-content: center;
    text-align: center;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #DC000D;
    
    border-radius: .3rem;
    position: relative;
}

#wrapGame {
    padding: 2rem 1rem;
    background-color: #F2D259;
    border-radius: .3rem;
}

#gameOver {
    font-size: 50px;
}